body {
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color: #fff5ee;
    background-color: #000;
    opacity: 0.9;
}

/*Navigation Header*/

nav {
    /*Nav bar will move, as users scroll. Top is 0px because when user scroll reaches threshold of 0 the sticky nav will activate*/
    position: sticky;
    top: 0px;
    height: 69px;
    background-color: #000;
    border-bottom: 1px solid #fff;
    display: flex;
    /*Space between the nav image and the nav link items*/
    justify-content: space-between;
    /*Centers nav items on the cross axis*/
    align-items: center;
}
.nav-links a {
    /* underline visible for anchor in nav-links class*/
    text-decoration: underline;
    color: #fff5ee;
    margin: 20px;
}
.logo {
    height: 50px;
    margin: 10px;
}

/*Mission Section*/

.mission-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    height: 700px;
    margin-bottom: 50px;

}
.mission-text {
    background-color: #000;
    text-align: center;
    align-items: center;
    width: 1200px;
}

/*Monthly Tea Section*/
.monthly-tea-title {
    text-align: center;
}

.tea-section {
    display: flex;
    /*Centers everything. margin: auto on an element pushes it away from all sides equally (margin-left, margin-right, etc)*/
    margin: auto;
    /*Appropriately spaces and centers the bottom row of items in flex wrap*/
    justify-content: center;
    /*Wraps all tea so they are organized with contrstraints of 1000px width*/
    flex-wrap: wrap;
    /*Limits width of tea container to 1000px*/
    width: 1000px;
    text-align: center;
}
.tea-section img {
    height: 200px;
    width: 300px;
    margin: 10px;
}
/*Location Section*/
.location-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*Aligns items centered on the cross axis 'vertically'*/
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.location-title {
    display: flex;
    justify-content: center;
    align-content: center;
}
.location {
    display: inline-block;
    height: 300px;
    width: 300px;
    line-height: 2;
    background-color: #000;
    margin: 15px 40px;
    text-align: center;
    opacity: 1;
}
/*About Info Section*/
footer {
    text-align: center;
}
.contact-info {
    height: 200px;
}
footer .copyright {
    text-align: left;
    margin-left: 20px;
}