* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color: #fff5ee;
    background-color: #000;
    opacity: 0.9;
}

/*Navigation Header*/

nav {
    height: 69px;
    border-bottom: 1px solid #fff;
    display: flex;
    /*Space between the nav image and the nav link items*/
    justify-content: space-between;
    /*Centers nav items on the cross axis*/
    align-items: center;
    /*Nav bar will not move, remains fixed in the position*/
    position: static;
}
.nav-links a {
    /* underline visible for anchor in nav-links class*/
    text-decoration: underline;
    color: #fff5ee;
    margin: 20px;
}
.logo {
    height: 50px;
    margin: 10px;
}

/*Mission Section*/

.mission-section {

}
.img-mission {

}
.mission-text {
    position: relative;
    top: 50%;
    background-color: #000;
    text-align: center;
    align-items: center;
}

/*Monthly Tea Section*/
.tea-section img {
    height: 200px;
    width: 300px;
}